.container {
    background-color: #252525 !important;
    border-left: 3px solid #989898 !important;
    display: inline-block !important;
    margin: 15px auto !important;
    border-left: 3px solid #989898 !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 1px 1px 25px #00000024 !important;
    box-shadow: 1px 1px 25px #00000024 !important;
    padding : 30px !important;
}
.heading {
    font-size: 2rem !important;
    width: fit-content !important;
    padding : 0 !important;
    color: #ffbc00  !important;
}
.formControl {
    background-color: #1e1e1e !important;
    border: 0px solid transparent !important;
    border-radius: 0px !important;
    margin-bottom: 15px !important;
}
.formLabel {
    color: #9e9e9e;
}
.btn {
    background-color: #ffbc00 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border-color: #ffbc00 !important;
    margin-top: 25px !important;
}